<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recording.title %>
</p>

<p>
  <strong>Melody:</strong>
  <%= @recording.melody %>
</p>

<%= link_to 'Edit', edit_recording_path(@recording) %> |
<%= link_to 'Back', recordings_path %>
